<a href="https://colab.research.google.com/github/Saniya1th/Anudip-Assignment/blob/main/class_work_of_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Write a Python program to sum all the elements in a list.
# Sample Input: [1, 2, 3, 4, 5]
# Expected Output: Sum = 15

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
print(sum(my_list))

15

### 2. Write a Python program to find the largest element in a list.
# Sample Input: [10, 20, 4, 45, 99]
# Expected Output: Largest Element = 99

In [ ]:
my_list = [10, 20, 4, 45, 99]

In [ ]:
max(my_list)

99

### 3. Write a Python program to count the number of elements in a list.
### Sample Input: [1, 2, 3, 4, 5]
### Expected Output: Count = 5

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
len(my_list)

5

#### 4. Write a Python program to find the average of elements in a list.
# Sample Input: [1, 2, 3, 4, 5]
# Expected Output: Average = 3.0

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
average = sum(my_list) / len(my_list)
print(average)

3.0

### 5. Write a Python program to reverse a list.
# Sample Input: [1, 2, 3, 4, 5]
# Expected Output: Reversed List = [5, 4, 3, 2, 1]

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

### 6. Write a Python program to check if a given element exists in a list.
## Sample Input: List = [1, 2, 3, 4, 5], Element = 3
## Expected Output: Element exists in list.

In [ ]:
my_list = [1, 2, 3, 4, 5]

In [ ]:
element = 3
new = my_list.count(element)
if new == 0:
  print("Element does not exist in list")
else:
  print("Element exists in list")

Element exists in list

### 7. Write a Python program to remove duplicate elements from a list.
## Sample Input: [1, 2, 2, 3, 4, 4, 5]
## Expected Output: List without duplicates = [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]

In [ ]:
my_list = list(set(my_list))
print(my_list)

[1, 2, 3, 4, 5]

### 8. Write a Python program to find the second largest element in a list.
### Sample Input: [10, 20, 4, 45, 99]
### Expected Output: Second Largest Element = 45

In [ ]:
my_list = [10, 20, 4, 45, 99]

In [ ]:
sorted_list = sorted(my_list)
print(sorted_list[-2])

45

### 9. Write a Python program to sort elements in a list in ascending order.
### Sample Input: [5, 2, 9, 1, 5, 6]
### Expected Output: Sorted List = [1, 2, 5, 5, 6, 9]

In [ ]:
my_list = [5, 2, 9, 1, 5, 6]

In [ ]:
sorted_list = sorted(my_list)
print(sorted_list)

[1, 2, 5, 5, 6, 9]

### 10. Write a Python program to merge two lists and sort them.
### Sample Input: List1 = [1, 5, 3], List2 = [8, 6, 2]
### Expected Output: Merged and Sorted List = [1, 2, 3, 5, 6, 8]

In [ ]:
my_list1 = [1, 5, 3]
my_list2 = [8, 6, 2]

In [ ]:
merged_list = my_list1 + my_list2
merged_list.sort()
print(merged_list)

[1, 2, 3, 5, 6, 8]

##11.	Question: Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.

In [ ]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

value = my_list[-1][-1]

print(value)

9

##12.	Question: Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.

In [ ]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

value = my_list[-1][-2]

print(value)

8

##13.	Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?

In [ ]:
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]]

In [ ]:
value = nested_list_column[-1][-1][-1]

print(value)

100

###14.	Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?

In [ ]:
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]]]

In [ ]:
value = nested_list_column[-1][-1][-1]
print(value)

100