<a href="https://colab.research.google.com/github/Saniya1th/Anudip-Assignment/blob/main/While_Loop_Lab_AF0416856.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Write a Python program to print numbers from 1 to 5 using a while loop.
Output:
1
2
3
4
5

In [ ]:
i=1
while i in range(1,6):
    print(i)
    i+=1

1
2
3
4
5

Q2: Write a Python program to print the first 10 even numbers using a while loop.
Output:
2
4
6
8
10
12
14
16
18
20

In [ ]:
i=2
while i in range(2,21,2):
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

Q3: Write a Python program to print the first 5 odd numbers using a while loop.
Output:
1
3
5
7
9

In [ ]:
i=1
while i in range(1,10,2):
    print(i)
    i+=2

1
3
5
7
9

Q4: Write a Python program to print the multiplication table of 3 using a while loop (from 3x1 to 3x10).
Output:
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
...
3 × 10 = 30

In [ ]:
i=3
while i in range(3,31,3):
    print(f"3 x {i//3} = {i}")
    i+=3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Q5: Write a Python program to print numbers from 10 down to 1 using a while loop.
Output:
10
9
8
7
...
1

In [ ]:
i=10
while i in range(10,0,-1):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

Q6: Write a Python program to calculate the sum of numbers from 1 to 10 using a while loop.
Output:
Sum = 55

In [ ]:
i=1
sum=0
while i in range(1,11):
    sum+=i
    i+=1
print(f"Sum = {sum}")

Sum = 55

Q7: Write a Python program to print all numbers from 1 to 50 that are divisible by 5 using a while loop.
Output:
5
10
15
...
50

In [ ]:
i=1
while i in range(1,51):
    if i%5==0:
        print(i)
    i+=1

5
10
15
20
25
30
35
40
45
50

Q8: Write a Python program to print numbers between 1 and 20 that are multiples of 3 using a while loop.
Output:
3
6
9
12
15
18

In [ ]:
i=3
while i in range(3,21,3):
    print(i)
    i+=3

3
6
9
12
15
18

Q9: Write a Python program to find the factorial of a number using a while loop.
Example:
Input: 5
Output: 120 (because 5 × 4 × 3 × 2 × 1 = 120)

In [ ]:
i=int(input("Enter a number: "))
fact=1
while i>0:
    fact*=i
    i-=1
print(fact)

Enter a number: 5
120

Q10: Write a Python program to calculate the sum of digits of a number using a while loop.
Example:
Input: 123
Output: 6 (because 1 + 2 + 3 = 6)

In [ ]:
i=int(input("Enter a number: "))
sum=0
while i>0:
    sum+=i%10
    i//=10
print(sum)

Enter a number: 123
6