<a href="https://colab.research.google.com/github/Saniya1th/Anudip-Assignment/blob/main/Conditional_lab2_AF0416856.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to sum all the elements in a list.
Sample Input: [1, 2, 3, 4, 5]
Expected Output: Sum = 15

In [ ]:
A=[1,2,3,4,5]
sum=0
for i in A:
  sum=sum+i
print(sum)

15

 2. Write a Python program to find the largest element in a list.
Sample Input: [10, 20, 4, 45, 99]
Expected Output: Largest Element = 99

In [ ]:
A=[10,20,4,45,99]
max=A[0]
for i in A:
  if i>max:
    max=i
print(max)

99

 3. Write a Python program to count the number of elements in a list.
 Sample Input: [1, 2, 3, 4, 5]
 Expected Output: Count = 5

In [ ]:
A=[1,2,3,4,5]
count=0
for i in A:
  count=count+1
print(count)

5

 4. Write a Python program to find the average of elements in a list.
 Sample Input: [1, 2, 3, 4, 5]
Expected Output: Average = 3.0

In [ ]:
A=[1,2,3,4,5]
sum=0
for i in A:
  sum=sum+i
avg=sum/len(A)
print(avg)
#

3.0

 5. Write a Python program to reverse a list.
 Sample Input: [1, 2, 3, 4, 5]
 Expected Output: Reversed List = [5, 4, 3, 2, 1]

In [ ]:
A=[1,2,3,4,5]
A.reverse()
print(A)

[5, 4, 3, 2, 1]

 6. Write a Python program to check if a given element exists in a list.
 Sample Input: List = [1, 2, 3, 4, 5], Element = 3
 Expected Output: Element exists in list.

In [ ]:
A=[1,2,3,4,5]
if 3 in A:
  print("Element exists in list")

Element exists in list

 7. Write a Python program to remove duplicate elements from a list.
 Sample Input: [1, 2, 2, 3, 4, 4, 5]
 Expected Output: List without duplicates = [1, 2, 3, 4, 5]

In [ ]:
A=[1,2,2,3,4,4,5]
B=[]
for i in A:
  if i not in B:
    B.append(i)
print(B)

[1, 2, 3, 4, 5]

 8. Write a Python program to find the second largest element in a list.
 Sample Input: [10, 20, 4, 45, 99]
 Expected Output: Second Largest Element = 45

In [ ]:
A=[10,20,4,45,99]
A.sort()
print(A[-2])

45

9. Write a Python program to sort elements in a list in ascending order.
 Sample Input: [5, 2, 9, 1, 5, 6]
 Expected Output: Sorted List = [1, 2, 5, 5, 6, 9]

In [ ]:
A=[5,2,9,1,5,6]
A.sort()
print(A)

[1, 2, 5, 5, 6, 9]

10. Write a Python program to merge two lists and sort them.
 Sample Input: List1 = [1, 5, 3], List2 = [8, 6, 2]
 Expected Output: Merged and Sorted List = [1, 2, 3, 5, 6, 8]

In [ ]:
A=[1,5,3]
B=[8,6,2]
C=A+B
C.sort()
print(C)

[1, 2, 3, 5, 6, 8]

11.	Question: Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
for i in A:
  for j in i:
    if j==9:
      print(j)

9

12.	Question: Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
for i in A:
  for j in i:
    if j==8:
      print(j)

8

13.	Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9],[1,55,77,100]]
for i in A:
  for j in i:
    if j==100:
      print(j)

100

14.	Question: How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?

In [ ]:
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]]]

In [ ]:
value = nested_list_column[-1][-1][-1]
print(value)

100