<a href="https://colab.research.google.com/github/Saniya1th/Anudip-Assignment/blob/main/For_loop_Lab_AF0416856_Saniya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

In [ ]:
numbers = [4, 8, 2, 10, 6]
max_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num

print("The maximum number is:", max_num)

The maximum number is: 10

2.	Take input from the user and find the factorial of the number using a for loop.

In [ ]:

num = int(input("Enter a number to find its factorial: "))

factorial = 1

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i

    print(f"The factorial of {num} is: {factorial}")

Enter a number to find its factorial: 5
The factorial of 5 is: 120

3.	Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'fig']

for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Element: {fruit}")

Index: 0, Element: apple
Index: 1, Element: banana
Index: 2, Element: cherry
Index: 3, Element: date
Index: 4, Element: fig

ts index using a for loop.
4.	Take a string input from the user and count the number of uppercase letters using a for loop.(use char.isupper()ðŸ˜Š)

In [ ]:
user_input = input("Enter a string: ")

uppercase_count = 0

for char in user_input:
    if char.isupper():
        uppercase_count += 1
print(f"The number of uppercase letters is: {uppercase_count}")

Enter a string: SANIYA
The number of uppercase letters is: 6

5.	Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.

In [ ]:
numbers = [17, 25, 39, 42, 58, 71, 86, 93]

even_sum = 0;
for num in numbers:
    if num % 2 == 0:
        even_sum += num
print(f"The sum of all even numbers is: {even_sum}")

The sum of all even numbers is: 186

6.	Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

In [ ]:
numbers = [3, 6, 9, 12, 15]

product = 1

for num in numbers:
    product *= num

print("The product of all elements is:", product)

The product of all elements is: 29160

7.	Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 usingÂ aÂ forÂ loop.

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

index = -1

for i, num in enumerate(numbers):
    if num == 7:
        index = i
        break
if index != -1:
    print("The index of the first occurrence of 7 is:", index)
else:
    print("7 is not in the list.")

The index of the first occurrence of 7 is: 3