<a href="https://colab.research.google.com/github/Saniya1th/Anudip-Assignment/blob/main/Tuple_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Question no 1: Given a tuple my_tuple = (10, 20, 30, 40, 50), how can you access the element 30 from the tuple using positive indexing? Write a Python program to achieve this.

In [ ]:
my_tuple=(10,20,30,40,50)
my_tuple[2]

30

Question no 2: Suppose you have a tuple my_tuple = (15, 25, 35, 45, 55), how can you access the element 45 from the tuple using negative indexing? Write a Python program to achieve this.

In [ ]:
my_tuple=(15,25,35,45,55)
my_tuple[-2]

45

Question no 3: Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 5 from the nested tuple within it using nested indexing? Write a Python program to achieve this.

In [ ]:
my_tuple=(1,2,3,(4,5,6))
my_tuple[3][1]

5

Question no 4: Suppose you have a tuple my_tuple = (10, 20, 30, 40, 50), how can you slice the tuple to obtain (20, 30, 40)? Write a Python program to achieve this.

In [ ]:
my_tuple=(10,20,30,40,50)
my_tuple[1:4]

(20, 30, 40)

Question no 5: Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you access the last element without knowing its index? Write a Python program to achieve this.

In [ ]:
my_tuple=(1,2,3,4,5)
my_tuple[-1]

5

Question no 6: Suppose you have two tuples tuple1 = (10, 20, 30) and tuple2 = (40, 50, 60), how can you concatenate them into a single tuple? Write a Python program to achieve this.

In [ ]:
tuple1=(10,20,30)
tuple2=(40,50,60)
append=tuple1+tuple2
print(append)

(10, 20, 30, 40, 50, 60)

Question no 7: Given a tuple my_tuple = ('a', 'b', 'c', 'd', 'e'), how can you check if the element 'c' exists in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple=('a','b','c','d','e')
'c' in my_tuple

True

Question no 8: Suppose you have a tuple my_tuple = ('apple', 'banana', 'cherry', 'apple'), how can you count the number of occurrences of 'apple' in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple=('apple','banana','cherry','apple')
my_tuple.count('apple')

2

Question no 9: Given a tuple my_tuple = (3.14, 'hello', True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3) from it? Write a Python program to achieve this.

In [ ]:
my_tuple=(3.14,'hello',True,(1,2,3))
my_tuple[3]

(1, 2, 3)

Question no 10: Suppose you have a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.

In [ ]:
my_tuple=(10,20,30)
list(my_tuple)

[10, 20, 30]

Question no 12: Suppose you have a tuple my_tuple = (10, 20, 30, 40, 50), how can you find the smallest and largest elements in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple=(10,20,30,40,50)
print(min(my_tuple))
print(max(my_tuple))

10
50

Question no 15: Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you check if the two tuples are equal? Write a Python program to achieve this.

In [ ]:
tuple1=(1,2,3)
tuple2=(4,5,6)
tuple1==tuple2

False